.THIS .a-table {
	margin-top : 10px;
    margin-left : 10px;
    text-align : center;
  	border: 1px solid black;
    border-collapse: collapse;
}
.THIS .th {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.THIS .td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}