.THIS .a-table {
	margin-top : 10px;
    margin-left : 10px;
    text-align : center;
    border-collapse: collapse;
}
.THIS .a-th {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.THIS .a-td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}